<div class="layui-inline layui-show-xs-block">
  <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
  <%= link_to "全部", request.path, class: "layui-btn"%>
</div>