<div class="left-nav">
  <div id="side-nav">
    <ul id="nav">
      
      <li>
        <a href="javascript:;">
          <i class="iconfont left-nav-li" lay-tips="托物单管理">&#xe6b8;</i>
          <cite>托物单管理</cite>
          <i class="iconfont nav_right">&#xe697;</i>
        </a>
        <ul class="sub-menu">
          <li>
            <a onclick="xadmin.add_tab('托物单列表','<%= admin_luggages_path %>')">
              <i class="iconfont">&#xe6a7;</i>
              <cite>托物单列表</cite>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>