/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 *
 *= require xadmin/font
 *= require xadmin/xadmin
 *= require validationEngine
 *= require common
 
 */

label abbr[title=required] {
  color: red;
}

table.th-tcr th {
  text-align: right;
}

table.th-tcr td {
  text-align: left;
}

table td.tc {
  text-align: center;
}

table.layui-table-show {
  width: 100%;
}

table.layui-table-show th {
  text-align: right;
  width: 15%;
  padding: 5px 0px;
}

table.layui-table-show td {
  text-align: left;
  padding: 5px 0px;
}
